p {
    padding-top: 20px;
    padding-left: 30px;
}
  
  #head {
    color: brown;
  }
  
  #temple {
    color: darkorange;
  }
  
  #body {
    color: yellow;
  }
  
  #lowerbody {
    color: darkgreen;
  }
  
  #tail {
    color: darkblue;
  }