@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

#homepage {
    background-image: url("nara1.jpg");
    background-size: cover;
}

.instrument-sans-400 {
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      color: saddlebrown;
      margin-left: 1700px;
      margin-top: 800px;
      letter-spacing: 1px;
      line-height: 0.2;
      font-size: 50;
      display: inline-block;
      animation: wave 2s infinite linear;
}
     @keyframes wave {
      0%, 100% {
          transform: translateY(0);
      }
      50% {
          transform: translateY(-20px);
      }
}

/* .narasignature-img {
    position: relative;
    top: -800px;
    left: 2100px;
    height: auto;
    width: 200px;
} */

.dropdownbutton {
 background-image: url("narasignature.png");
 background-size: 100% 100%;
 background-position: center;
 width: 400px;
 padding: 100px;
 font-size: 16px;
 background-color: transparent;
 cursor: pointer;
 border: none;
 position: relative;
}

.dropdown {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
}

.dropdowncontent {
    display: none;
    position: absolute;
    background-color: clear;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdowncontent a {
    color: #4c4c4c;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.dropdown:hover .dropdowncontent {display: block;}