body {
    background-color: rgb(237, 233, 224);
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      color: saddlebrown;
      font-size: 20px;
}

.paragraph {
    width: 480px;
    margin-top: 50px;
    margin-left: calc(50vw - 240px);
    text-indent: 20px;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

   .title {
    font-size: 50;
    width: 480px;
    margin-top: 50px;
    margin-left: calc(50vw - 230px);
    text-indent: 20px;
   }

.pictures {
    margin-left: calc(50vw - 240px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100vh;
    max-width: 475px
}

.dropdownbutton {
    background-image: url("./narasignature.png");
    background-size: 100% 100%;
    background-position: center;
    width: 400px;
    padding: 100px;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    position: relative;
   }
   
   .dropdown {
       position: absolute;
       display: inline-block;
       right: 0;
       top: 0;
   }
   
   .dropdowncontent {
       display: none;
       position: absolute;
       background-color: clear;
       min-width: 100px;
       box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
       z-index: 1;
   }
   
   .dropdowncontent a {
       color: gray;
       padding: 12px 16px;
       text-decoration: none;
       display: block;
       font-family: "Instrument Sans", sans-serif;
       font-optical-sizing: auto;
       font-weight: 700;
       font-style: normal;
       font-variation-settings:
         "wdth" 100;
         font-size: 16px;
   }
   
   .dropdown:hover .dropdowncontent {display: block;}

   .narafigures-img {
    width: 400px;
    height: 300px;
    position: relative;

   }

   .naraboards-img {
   width: 400px;
   height: 400px;
   position: relative;
   }

   .narastore-img {
    width: 400px;
    height: 400px;
    position: relative;
   }

   .pictures {
    display: inline-block;
    animation: wave 2s infinite linear;
    margin-top: 20px;
   }

   @keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
   }