body {
    margin:0;
    background-color: rgb(237, 233, 224);
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      color: saddlebrown;
      font-size: 20px;
}

#pagebanner {
    width: 100%;
}

#pagebanner img {
    width: 100%;
    height: auto;

}

.dropdownbutton {
    background-image: url("./narasignature.png");
    background-size: 100% 100%;
    background-position: center;
    width: 400px;
    padding: 100px;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    position: relative;
   }
   
   .dropdown {
       position: absolute;
       display: inline-block;
       right: 0;
       top: 0;
   }
   
   .dropdowncontent {
       display: none;
       position: absolute;
       background-color: clear;
       min-width: 100px;
       box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
       z-index: 1;
   }
   
   .dropdowncontent a {
       color: gray;
       padding: 12px 16px;
       text-decoration: none;
       display: block;
       font-family: "Instrument Sans", sans-serif;
       font-optical-sizing: auto;
       font-weight: 700;
       font-style: normal;
       font-variation-settings:
         "wdth" 100;
   
   }
   
   .dropdown:hover .dropdowncontent {display: block;}

.yoshitomo1-img {
    max-width: 700px;
    width: 100%;
    margin-top: 50px;
    margin-left: calc(50vw - 240px);
    transition: transform (3s) ease;
}

.yoshitomo1-img:hover {
    transform: scale(1.2);
}

.yoshitomo-img {
    max-width: 700px;
    width: 100%;
    margin-left: calc(50vw - 240px);
    transition: transform (3s) ease;
}

.yoshitomo-img:hover {
    transform: scale(1.21);
}

.paragraph {
    width: 480px;
    margin-top: 50px;
    margin-left: calc(53vw - 240px);
    text-indent: 20px;
    font-size: 20px;
    padding-bottom: 50px;
}

.title {
    font-size: 50;
    width: 480px;
    margin-top: 50px;
    margin-left: calc(55vw - 230px);
    text-indent: 20px;
    padding-bottom: 30px;
   }

