body {
    position: relative;
    background: linear-gradient(180deg, #FFF334 0%, #DC540C 20%, #FFF334 40%, #bd4d11 60%, #FFF334 80%, #655905 100%);
    font-family: 'Inria Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 35px;
     line-height: 30px;
     text-align: center;
     color: #000000;
     width: 1000px;
     top: 0;
     left: calc(50vw - 500px);
   }
   
   .Fp {
     background-color: #b5651d;
     color: #fff;
     padding: 20px;
     text-decoration: none;
     border-radius: 210px;
     font-size: 30px;
   }
   
   .read-disc {
     background-color: #b5651d;
     color: #fff;
     padding: 10px;
     text-decoration: none;
     border-radius: 8px;
   }

#Title {
  margin-top: 30px;
  font-size: 50px;
}

#Lucky1 {
  scale: 40%;
  position: relative;
  right: -750px;
  top: -9300px;
}