body {
    position: relative;
    background: linear-gradient(180deg, #FFF334 0%, #DC540C 20%, #FFF334 40%, #bd4d11 60%, #FFF334 80%, #655905 100%);
    font-family: 'Inria Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 35px;
     line-height: 30px;
     text-align: center;
     color: #000000;
     width: 1000px;
     top: 0;
     left: calc(50vw - 500px);
     overflow-x: hidden;
   }
   
   .Fp {
     background-color: #b5651d;
     color: #fff;
     padding: 20px;
     text-decoration: none;
     border-radius: 210px;
     font-size: 30px;
   }
   
   .read-disc {
     background-color: #b5651d;
     color: #fff;
     padding: 10px;
     text-decoration: none;
     border-radius: 8px;
   }

.Fp:hover {
  transform: scale(1.05);
}

#Title {
  margin-top: 30px;
  font-size: 50px;
}

.Luckys {
  position: relative;
}

#Lucky1 {
  scale: 40%;
  position: absolute;
  right: -500px;
  top: -8800px;
}

#Lucky1:hover {
  transform: scale(1.05);
}

#Lucky {
  scale: 40%;
  left: -650px;
  top: -7200px;
  position: absolute;
}

#Lucky:hover {
  transform: scale(1.05);
}

#Lucky3 {
  scale: 40%;
  position: absolute;
  right: -500px;
  top: -5800px;
}

#Lucky3:hover {
  transform: scale(1.05);
}

#Lucky2 {
  scale: 60%;
  position: absolute;
  left: -450px;
  top: -4200px;
}

#Lucky2:hover {
  transform: scale(1.05);
}

#Lucky4 {
  scale: 40%;
  position: absolute;
  right: -450px;
  top: -2800px;
}

#Lucky4:hover {
  transform: scale(1.05);
}

#Lucky5 {
  scale: 40%;
  position: absolute;
  left: -450px;
  top: -1200px;
}

#Lucky5:hover {
  transform: scale(1.05);
}