@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

body {
    background-image: url("nara1.jpg");
    background-size: cover;
}

.instrument-sans-400 {
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      color: saddlebrown;
      margin-left: 1700px;
      margin-top: 800px;
      letter-spacing: 1px;
      line-height: 0.2;
      font-size: 30
}

.narasignature-img {
    position: relative;
    top: -800px;
    left: 2100px;
    height: auto;
    width: 200px;
}