#wrapper {
    position: relative;
    width: 800px;
    height: 600px;
    background-color: lightgray;
    overflow: hidden;
  }
  
  #NEC {
    width: 500px;
    height: 350px;
    background-color: #B31B1B;
    position: absolute;
    top: 45px;
    right: 270px;
    transform: rotate(-30deg);
    box-shadow: -90px 50px 30px rgba(20, 20, 20, 0.5); 
  }
  
  #line {
    position: absolute;
    background-color: black;
    border-left: 3px black;
    height: 95%;
    width: 1px;
    left: 160px;
  }
  
  #semi-circle {
    position: absolute;
    width: 45px; 
    height: 22.5px; 
    border-radius: 3rem 3rem 0 0; 
    background-color: white;
    top: 330px;
    left: 140px;
    transform: rotate(0deg);
  }
  
  #title {
    position: absolute;
    top: 80px;
    left: -70px;
    font-size: 150px;
    font-weight: bold;
    font-family: 'Times New Roman';
    color: white;
    transform: rotate(91deg);
  }
  
  #bookspine {
    position: absolute;
    bottom: -40px;
    right: 23px;
    width: 100%;
    height: 40px;
    background-color: #B31B1B;
    transform: skew(-50deg);
  }
  
  #bookspine-bot {
    background-color: white;
    height: 35px;
    width:490px;
    border-top: px solid #B31B1B;
    border-left:5px solid #B31B1B; 
    border-right:3px solid #B31B1B;
  }
  
  #bookbottom {
    position: absolute;
    padding-bottom: 3px;
    padding-left: 5px;
    top: 17px;
    right: 495px;
    width: 40px;
    height: 100%;
    background-color: brown;
    transform: skewY(-40deg);
  }
  
  
  #bottle {
    position: absolute;
    width: 70px;
    height: 90px;
    background-color: sienna;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    top: 90px;
    left: 110px;
    transform: skew(0, 20deg) rotate(-40deg);
    box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.2); 
  }
  
  #bottlelabel {
    position: absolute;
    height: 20px;
    width: 104%;
    left: -3px;
    background-color: white;
    transform: rotate(25deg);
  }
  
  #bottlelabel-top {
    position: absolute;
    height: 25px;
    width: 102%;
    background-color: sienna;
    top: -13px;
    left: -3px;
    border-radius: 50%;
    transform: rotate(-7deg);
    z-index: 900;
  }
  
  #bottlelabel-top-right{
    position: absolute;
    height: 25px;
    width: 100%;
    background-color: sienna;
    top: -210px;
    left: 0px;
    border-radius: 50%;
    transform: rotate(-7deg);
    z-index: 900;
  }
  
  #bottlelabel-bottom {
    position: absolute;
    height: 25px;
    width: 100%;
    background-color: white;
    bottom: -10px;
    border-radius: 50%;
    transform: rotate(-7deg);
  }
  
  #bottlecap {
    position: relative;
    height: 40px;
    width: 45px;
    border-radius: 50%;
    background-color: grey;
    left: 16px;
    bottom: 10px;
    z-index: 1000;
  }
  
  #bottlecap {
     animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
          transform: translateY(0);
      }
      40% {
          transform: translateY(-20px);
      }
      60% {
          transform: translateY(-10px);
      }
  }
  
  #bottlecap-top {
    position: relative;
    padding-top: 5px;
    height: 25px;
    width: 100%;
    border-radius: 50%;
    background-color: white;
    top: 0px;
    transform: rotate(-5deg);
  }
  
  #taylor {
    width: 130px;
    height: 130px;
    position: absolute;
    background-color: red;
    left: 290px;
    top: -30px;
    align-items: center;
    justify-content: center;
    transform: skew(-10deg);
    transform: rotate(10deg);
  }
  
  #taylor:hover {
      transform: rotate(-360deg) translateY(-10px);
      transition: transform 2s ease;
  }
  
  #taylorlogo {
    width: 90px;
    height: 90px;
    top: 15px;
    left: 20px;
    position: relative;
    background: white;
    border-radius: 60%;
  }
  
  #taylorlogo2 {
    position: absolute;
    color: red;
    left: 19px;
    top: 10px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    margin: 2px;
  }
  
  #taylor-description {
    position: absolute;
    top: 40px;
    left: 13px;
    color: red;
    margin: 2px;
  }
  
  #taylorspine {
    position: relative;
    background-color: #660000;
    height: 169px;
    width: 20px;
    left: 133px;
    bottom: 104px;
    transform: skew(40deg) rotate(40deg);
  }
  
  #taylorbottom {
    position: absolute;
    background-color: #C41E3A;
    height: 13px;
    width: 100%;
    bottom: -12px;
    left: 15px;
    transform: skew(68deg);
  }
  
  #cdcase {
    width: 180px;
    height: 200px;
    position: absolute;
    background-color: black;
    transform: rotate(-100deg);
    top: 115px;
    left: 450px;
    box-shadow: -50px 20px 20px rgba(0, 0, 0, 0.4); 
  }
  
  #cd {
    width: 175px;
    height: 175px;
    position: absolute;
    background: linear-gradient(lightblue, darkblue);
    border-radius: 60%;
    top: 25px;
    right: 5px;
    transform: rotate(30deg);
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    animation-duration: 3500ms;
  }
  
  
  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
  }
  
  
  #cdmiddle {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    left: 67px;
    top: 87px;
  }
  
  #hole {
    position: relative;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background: radial-gradient(circle, white 0%, black 100%);
    left: 12px;
    top: 12px;
  }
  
  #cdspine {
    width: 100%;
    height: 20px;
    position: aboslute;
    background-color: rgb(33, 33, 33);
  }
  
  #cdbottom {
    position: relative;
    background-color: black;
    height: 188px;
    width: 10px;
    top: 213px;
    left: 550px;
    transform: skew(-20deg) rotate(-100deg);
  }
  
  #cdlid {
      position: absolute;
      top: 125px;
      left: 465px;
      width: 175px;
      height: 180px;
      background: rgba(255, 255, 255, 0.1); 
      backdrop-filter: blur(0.8px); 
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.8), 0 0 5px rgba(0, 0, 0, 0.3);
      pointer-events: none; 
      z-index: 1; 
      transform: rotate(-100deg);
  }
  
  #tuner {
    width: 150px;
    height: 250px;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    top: 425px;
    right: 430px;
    transform: rotate(60deg);
    box-shadow: 10px 50px 20px rgba(0, 0, 0, 0.4); 
  }
  
  #tunerside {
  position: absolute;
    top: 130px;
    right: 2px;
    width: 30px;
    height: 100%;
    background-color: black;
    transform: skewX(35deg) rotate(90deg); 
   border-radius: 10px;
  }
  
  #tunerbutton {
    width: 25px;
    height: 25px;
    background: grey; 
    border-radius: 50%;
    position: absolute;
    right: 900px;
    top: 365px;
  }
  
  #tunerscreen {
  width: 50px;
  height: 130px;
  position: absolute;
  background-color: green;
  border-radius: 3px;
  left: 20px;
  top: 60px;
  border: 5px solid rgba(33, 33, 33, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  }
  
  #tunerscreen:hover {
    background-color: red;
  }
  
  #button {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 50%;
    position: absolute;
    top: 500px;
    left: 370px;
    z-index: 1000;
    overflow: hidden;
  }
  
  #button::after {
      content: '';
      position: absolute;
      width: 100px;
      height: 100px;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      transform: scale(0);
      transition: transform 0.5s, opacity 1s;
      opacity: 0;
  }
  
  #button:active::after {
     transform: scale(0);
     transition: 0s;
     opacity: 1;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
  }