html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#Title {
  position: fixed;
  width: 1000px;
  top: 0;
  left: calc(50vw - 500px);
  /* width: clamp(300px, 75%, 1000px); */
  z-index: 2;
  pointer-events: none;
  margin-top: 20px;
} 

#Title > img {
  width: 100%;
}

#Instruction {
  position: fixed;
  width: 700px;
  top: 0;
  left: calc(50vw - 350px);
  margin-top: 160px;
  z-index: 2;
  pointer-events: none;
}

#Instruction > img {
  width: 100%;
}

.Refresh {
  text-align: center;
}

.Refresh-Button {
  background: url('ResetCAPITAL.png') no-repeat top center;
  background-size: contain;
  bottom: 0;
  left: calc(50vw - 0px);
  margin-bottom: 175px;
  position: fixed;
  z-index: 2;
  scale: 3000%;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.Refresh-Button:hover {
  transform: scale(1.40);
}

.Refresh-Button:active {
  transform: scale(0.90);
}